* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header {
  height: 80px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
  .top-home {
    font-size: 30px;
    margin-top: 15px;
    margin-left: 20px;
    float: left;
    a{
      color: orange;
    }
  }
  .top-navi {
    float: right;
    margin-top: 22px;
    .top-navi__right {
      display: flex;
      margin-right: 50px;
      .top-navi__right--first {
        margin-right: 50px;
        a{
          color: orange;
        }
      }
      .top-navi__right--second {
        margin-right: 50px;
        a{
          color: orange;
        }
      }
      .top-navi__right--third {
        a{
          color: orange;
        }
      }
    }
  }
}

.main-top {
  // background-color: red;
  height: 630px;
  background-image: url('https://images.unsplash.com/photo-1596717740491-36b860c37cc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top:100px;
  padding-left: 80px;
  h1 {
    font-size:60px;
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.6);
  }
  p {
    font-size: 28px;
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.6);
  }
  .btn {
    display: flex;
    justify-content: center;
    .btn-wrap {
      margin-top: 100px;
      width: 300px;
      display: inline-block;
      border-radius: 100px;
      text-decoration: none;
      color: yellow;
      background-image: linear-gradient(30deg, #FFC107 0%, #ff8b5f 100%);
      transition: .4s;
    }
    
    
  }
  a {
    text-decoration: none;
    text-align: center;
    line-height: 100px;
    font-weight:bold;
    font-size: 30px;
  }
  .btn-wrap:hover {
    background-image: linear-gradient(30deg, yellow 0%, #ff8b5f 100%);
    opacity: 0.9;
    color: yellow;
    text-shadow: 0 0 5px rgba(0,0,0,0.6);
  }

  
}


.main-indicate {
  background-color: rgb(253, 250, 245);
  height: 600px;
  width: 100%;
  h1 {
    position:relative;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: orange;
    padding-top: 20px;
  }
  h1::after {
    content: "";
    width: 110px;
    height: 4px;
    background-color: yellow;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  p {
    font-size: 20px;
    margin-left: 20px;
    text-align: center;
  }
  .subcontent1 {
    margin-top: 60px;
    
  }
  img {
    height: 380px;
    width: 400px;
    float: right;
  }
  .nayami-list {
    margin-top: 45px;
    margin-left: 50px;
    li {
      color: orange;
      list-style: none;
      font-size: 28px;
      font-weight: bold;
      text-align: center;
    }
  }
  .subcontent2 {
    margin-top: 50px;
    text-align: center;
  }

}

.main-feature {
  // background-color: rgb(170, 223, 249);
  height: 600px;
  width: 100%;
  h1 {
    // position:relative;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: orange;
    padding-top: 20px;
    position: relative;
  }
  h1::after {
    content: "";
    width: 110px;
    height: 4px;
    background-color: yellow;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .main__features__list {
    width: 100%;
    height: 462px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .main__features__list--first {
      width: 306px;
      height: 446px;
      margin: 16px 5% 0 0;
      img {
        height: 306px;
        width: 306px;
      }
      h3{
        font-weight: bold;
        font-size: 19px;
        line-height: 50px;
        text-align: center;
        // margin: 10px 0 0 50px;
      }
      p{
        margin: 16px 0 0;
        font-size: 17px;
      }
    }
    .main__features__list--second {
      width: 306px;
      height: 446px;
      margin: 16px 5% 0 0;
      img{
        height: 306px;
        width: 306px;
      }
      h3 {
        font-weight: bold;
        font-size: 19px;
        line-height: 50px;
        text-align: center;
      }
      p{
        margin: 16px 0 0;
        font-size: 17px;
      }
    }
    .main__features__list--third {
      width: 306px;
      height: 446px;
      margin: 16px 0 0 0;
      img{
        height: 306px;
        width: 306px;
      }
      h3 {
        font-weight: bold;
        font-size: 19px;
        line-height: 50px;
        text-align: center;
      }
      p{
        margin: 16px 0 0 40px;
        font-size: 17px;
      }
    }
  }
}