* {
  box-sizing: border-box;
}

.main-top {
  // background-color: red;
  height:700px;
  background-image: url('https://images.unsplash.com/photo-1596717740491-36b860c37cc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}
