%h1 掲示板
%p ここでは同じ目標を持っている人たちの生の声が聞けます。
= link_to "#" do
  .footer__exhibition1
    %span.footer__exhibition__text
      目標設定 
      %br
      登録画面へ

= link_to "#" do
  .footer__exhibition2
    %span.footer__exhibition__text
      勉強記録
      %br
      登録画面へ